.rek-table td {
  vertical-align: text-top;
}

@media print {
  body * {
    visibility: hidden;
    overflow: visible !important;
    -webkit-print-color-adjust: exact !important;
    pointer-events: none !important;
  }

  main {
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    height: auto;
  }

  main > div > div:first-child {
    display: none !important;
  }

  #editor * {
    visibility: visible;
    overflow: visible !important;
    color: #000 !important;
  }

  #editor {
    width: 100vw;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
  }
  #editor:first-child {
    width: 100vw;
    height: auto;
    margin: 0;
    /* overflow-x: hidden; */
    padding-top: 0;
    padding-bottom: 0;
    background-color: white !important;
  }

  @page {
    size: auto;
    margin: 0.5cm;
  }
}
