/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("../fonts/open-sans-v17-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/open-sans-v17-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"),
    url("../fonts/open-sans-v17-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/open-sans-v17-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.rek-table td {
  vertical-align: text-top;
}

@media print {
  body * {
    visibility: hidden;
  }

  *::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  .printable,
  .printable * {
    visibility: visible;
    width: auto;
    height: auto;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    background-color: white !important;
    color: #000 !important;
  }

  .editorWrapper > .rek-resizable {
    margin: 0;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw !important;
    height: 100% !important;
  }

  .printable {
    position: absolute;
    overflow-y: visible;
    overflow-x: hidden;
    left: 0;
    top: 0;
  }

  .rek-resize-handle {
    display: none !important;
  }

  [data-slate-editor="true"] {
    margin: 0;
    overflow-x: hidden;
  }

  @page {
    size: auto;
    margin: 0.5cm;
  }
}
